*{
    margin: 0;
    padding: 0;
}

:root {  
    --blue: rgb(6, 145, 187);
    --green: rgb(24, 185, 45);
    --yellow: rgb(238, 255, 0);
    --primary:rgb(32, 27, 22);
    --secondary:rgb(13, 110, 26);  
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    color: white;
    background-color: var(--primary);
}

.navbar {
    background-color: rgb(65, 53, 43);
    width: 100%;
    padding: 24px 0;
    z-index: 1;
    position: fixed;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    font-size: 24px;
    text-align: right;
}
nav .nav-links a {
    padding-left: 35px;
    font-weight: normal;
}
nav .menu-icon {
    display: none; 
}
.menu-icon{
    background: none;
    border: none;
}
svg{
    width: 50px;
    height: auto;
    color: white;
}
.x-icon{
    margin-left: 20px;
    margin-top: 20px;
    background: none;
    border: none;
}
.menu-icon:hover{
    cursor: pointer;
}
.menu{
    width: 100%;
    height: 0px;
    background-color: rgb(54, 47, 41);  
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: fixed;
    overflow: hidden;

    transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.menu-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    font-size: 32px;
}
.menu-text a{
    padding: 20px 0;
}
.menu--open{
    display: block;

    height:100%;

}
.menu--open .menu-text{
    opacity: 1;
    transition:.2s ease-in;
}

.en{
    font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(13, 110, 26);  
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("./about.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
}
.back-to-top{
    height: 50px;
    width: 50px;
    background-color: rgb(80, 71, 64);  
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 50%;   
    z-index: 98;
    opacity: 0; 

    transition: opacity .3s ease-in-out;

    transition: .5s;
}
.back-to-top svg {
    width: 50px;
    height: auto; 
    color: white; 

    transition: .5s;
}
.back-to-top:hover {
    background-color: rgb(65, 53, 43);
}

main{
    margin:0 auto;
}
h1{
    font-size: 80px;
}

h2{
    font-size: 60px;
}
.about{
    margin: 200px 0;
    text-align: right;
}

.about:nth-child(odd){
    flex-direction: row-reverse;
    text-align: left;
}

.about h3{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.about-text{
    display: block;
    padding: 20px;
    max-width: 600px;
}

footer{
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 20px;
}

@media (max-width: 635px) {
    nav .nav-links {
        display: none; 
    }
    
    nav .menu-icon {
        display: block; 
    }
}

@media (min-width: 636px) {
    nav .menu-icon {
        display: none; 
    }
}
@media only screen and (max-width: 1439px) {

}
@media only screen and (max-width: 1279px) {

}
@media only screen and (max-width: 1023px) {

}
@media only screen and (max-width: 767px) {
    nav{
        font-size: 20px;
    }
    nav a{
        padding-left: 25px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
}
@media only screen and (max-width: 575px) {
    h1{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}
@media only screen and (max-width: 424px) {
    h1{
        font-size: 28px;
    }
}
@media only screen and (max-width: 374px) {
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}