*{
    margin: 0;
    padding: 0;
}

:root {  
    --blue: rgb(6, 145, 187);
    --green: rgb(24, 185, 45);
    --yellow: rgb(238, 255, 0);
    --primary:rgb(32, 27, 22);
    --secondary:rgb(13, 110, 26);  
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    color: white;
    background-color: var(--primary);
}

.navbar {
    background-color: rgb(65, 53, 43);
    width: 100%;
    padding: 24px 0;
    z-index: 1;
    position: fixed;
}

nav{
    font-size: 24px;
    text-align: right;
}
nav .nav-links a {
    padding-left: 35px;
    font-weight: normal;
}
nav .menu-icon {
    display: none; 
}
.menu-icon{
    background: none;
    border: none;
}
svg{
    width: 50px;
    height: auto;
    color: white;
}
.x-icon{
    margin-left: 20px;
    margin-top: 20px;
    background: none;
    border: none;
}
.menu-icon:hover{
    cursor: pointer;
}
.menu{
    width: 100%;
    height: 0px;
    background-color: rgb(54, 47, 41);  
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: fixed;
    overflow: hidden;

    transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.menu-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    font-size: 32px;
}
.menu-text a{
    padding: 20px 0;
}
.menu--open{
    display: block;

    height:100%;

}
.menu--open .menu-text{
    opacity: 1;
    transition:.2s ease-in;
}

.en{
    font-size: 20px;
    display: none;
}



@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: 200% center;
    }
  }
  @keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-200px) scale(.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
  .back-to-top{
    height: 50px;
    width: 50px;
    background-color: rgb(80, 71, 64);  
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 50%;   
    z-index: 98;
    opacity: 0; 

    transition: opacity .3s ease-in-out;

    transition: .5s;
}
.back-to-top svg {
    width: 50px;
    height: auto; 
    color: white; 

    transition: .5s;
}
.back-to-top:hover {
    background-color: rgb(65, 53, 43);
}

h1 {
    color: white;
    font-size: 80px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;

    transition: .5s;
}
a:hover{
    color: rgb(13, 110, 26);  
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.4)  , rgba(32, 27, 22, 0.4));
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
}
header h1{
    animation: fade-down 2s;
}
.container{
    width: 80%;
    margin: auto;
}

h2{
    font-size: 60px;
}
.contacts{
    width: calc(100% + 20px);
    margin-left: -20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.contact-box{
    border: solid 3px rgb(65, 53, 43);
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 0px 10px 5px rgb(24, 20, 16);
    width:calc(40% - 20px);
    margin-top: 20px;
    margin-left: 20px;
    flex-shrink: 0;

    text-align: center;
    font-weight: 300;
    font-size: 20px;

    transition: .5s;
}
.contact-box a{
    font-weight: 400;
}

.contact-box:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(65, 53, 43, 0.507);
}

@media only screen and (max-width: 1439px) {
}
@media only screen and (max-width: 1279px) {
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 767px) {
    nav .nav-links {
        display: none; 
    }
    .navbar{
        padding: 12px 0;
    }
    nav .menu-icon {
        display: block; 
    }
    nav{
        font-size: 20px;
    }
    nav a{
        padding-left: 25px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    h1:hover > .magic-text {
        font-size: 40px;
    }
    .contact-box{
        font-size: 16px;
        width:calc(90% - 20px);
    }
}
@media only screen and (max-width: 575px) {
    nav a{
        display: none;
    }
    h1{
        font-size: 30px;
    }
    .magic-text{
        font-size: 30px;
    }
    h1:hover > .magic-text {
        font-size: 30px;
    }
}
@media only screen and (max-width: 424px) {
    h1{
        font-size: 28px;
    }
    .magic-text{
        font-size: 28px;
    }
    h1:hover > .magic-text {
        font-size: 28px;
    }
}
@media only screen and (max-width: 374px) {
    h1{
        font-size: 20px;
    }
    .magic-text{
        font-size: 20px;
    }
    h1:hover > .magic-text {
        font-size: 20px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}


 