:root {  
    --blue: rgb(6, 145, 187);
    --green: rgb(24, 185, 45);
    --yellow: rgb(238, 255, 0);
  }

body{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    color: white;
    background-color: rgb(32, 27, 22);
}
.navbar{
    background-color: rgb(65, 53, 43);
    position: fixed;
    width: 100%;
    padding: 24px 0;
    z-index: 1;
}


.container{
    width: 80%;
    margin: auto;
}

nav{
    font-size: 24px;
    text-align: right;
}

nav a{
    padding-left: 35px;
    font-weight: normal;
}

.en{
    font-size: 20px;
}


@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: 200% center;
    }
  }

h1 {
    color: white;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 800;

}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;

    transition: .5s;
}
a:hover{
    color: rgb(13, 110, 26);  
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(13, 110, 26, 0.2)  ,rgba(0,0,0,0.2));
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
}

main .container{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

h2{
    font-size: 60px;
}
.contact-box{
    border: solid 3px rgb(65, 53, 43);
    width: 40%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgb(24, 20, 16);

    transition: .5s;
}

.contact-box:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(65, 53, 43, 0.507);
}

@media only screen and (max-width: 576px) {
    .projects{  
        display:inline;
        align-items: center;
        justify-content: flex-start;
        margin: 300px 0;
    }
    .navbar a{
        font-size: 20px;
    }
}
@media only screen and (max-width: 430px) {
    .navbar a{
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 376px) {
    .navbar a{
        padding: 10px 5px;
    }
}


 