*{
    margin: 0;
    padding: 0;
}

:root {  
    --blue: rgb(6, 145, 187);
    --green: rgb(24, 185, 45);
    --yellow: rgb(238, 255, 0);
    --primary:rgb(32, 27, 22);
    --secondary:rgb(13, 110, 26);  
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    color: white;
    background-color: var(--primary);
}

.navbar {
    background-color: rgb(65, 53, 43);
    width: 100%;
    padding: 24px 0;
    z-index: 1;
    position: fixed;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    font-size: 24px;
    text-align: right;
}
nav .nav-links a {
    padding-left: 35px;
    font-weight: normal;
}
nav .menu-icon {
    display: none; 
}
.menu-icon{
    background: none;
    border: none;
}
svg{
    width: 50px;
    height: auto;
    color: white;
}
.x-icon{
    margin-left: 20px;
    margin-top: 20px;
    background: none;
    border: none;
}
.menu-icon:hover{
    cursor: pointer;
}
.menu{
    width: 100%;
    height: 0px;
    background-color: rgb(54, 47, 41);  
    box-sizing: border-box;
    top: 0;
    z-index: 99;
    position: fixed;
    overflow: hidden;

    transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.menu-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    font-size: 32px;
}
.menu-text a{
    padding: 20px 0;
}
.menu--open{
    display: block;

    height:100%;

}
.menu--open .menu-text{
    opacity: 1;
    transition:.2s ease-in;
}

.en{
    font-size: 20px;
}

@keyframes fade-left{
    0%{
        opacity: 0;
        transform: translateX(200px) scale(.9);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}
@keyframes fade-right{
    0%{
        opacity: 0;
        transform: translateX(-200px) scale(.9);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: 200% center;
    }
  }
.back-to-top{
    height: 50px;
    width: 50px;
    background-color: rgb(80, 71, 64);  
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 50%;   
    z-index: 98;
    opacity: 0; 

    transition: opacity .3s ease-in-out;

    transition: .5s;
}
.back-to-top svg {
    width: 50px;
    height: auto; 
    color: white; 

    transition: .5s;
}
.back-to-top:hover {
    background-color: rgb(65, 53, 43);
}
h1 {
    color: white;
    font-size: 60px;
    font-weight: 800;

}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}
a:hover{
    color: var(--secondary);
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    background-size: cover;
    background-attachment: fixed;
}
header h1{
    animation: fade-left 2s;
}
header p{
    opacity: 0;
    animation-name: fade-right;
    animation-duration: 1.6s;
    animation-delay:0.4s;
    animation-fill-mode: forwards;
}
main{
    margin:0 auto;
}
section{
    margin: 400px 0;
}
h2{
    font-size: 60px;
}
.about h2{
    text-align: right;
}
.projects{
    display: flex;
    justify-content:space-between;
    margin: 200px 0;
    text-align: left;
}

.projects:nth-child(odd){
    flex-direction: row-reverse;
    text-align: right;
}

.projects img{  
    flex: 1;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;

    transition: .5s;
}

.projects img:hover{
    transform: scale(110%);
}

.projects h3{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.projects-text{
    display: block;
    max-width: 40%;
}

.projects-text p{
    color: rgb(97, 87, 78);  
}
footer{
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 20px;
}

.magic-text {
    font-size: 60px;
    transition: 1s;
}


h1:hover > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--blue),
        var(--green),
        var(--yellow),
        var(--blue)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    cursor: default;
    font-size: 72px;

    transition: 1s;
}
@media only screen and (max-width: 1439px) {
    .projects img{
        max-height: 300px;
    }
    h1{
        font-size: 56px;
    }
    .magic-text{
        font-size: 56px;
    }
    h1:hover > .magic-text {
        font-size: 68px;
    }
}
@media only screen and (max-width: 1279px) {
    .projects img{
        max-height: 200px;
    }
    h1{
        font-size: 52px;
    }
    .magic-text{
        font-size: 52px;
    }
    h1:hover > .magic-text {
        font-size: 64px;
    }
}
@media only screen and (max-width: 1023px) {
    .projects h3{
        font-size: 40px;
    }
    .projects{
        display: inline;
        margin: 200px 0;
        text-align: center;
        align-items: center;
    }
    .projects img{
        object-fit: scale-down;
        margin-bottom: 80px;
    }
    .projects-text{  
        display:inline;
        align-items: center;
        justify-content: flex-start;
    }
    .projects p{
        margin-bottom: 40px;
    }
    .projects:nth-child(odd)
    {
        text-align: center;
    }
    h1{
        font-size: 48px;
    }
    h2{
        margin-bottom: 20px;
    }
    .magic-text{
        font-size: 48px;
    }
    h1:hover > .magic-text {
        font-size: 60px;
    }
}
@media only screen and (max-width: 767px) {
    nav{
        font-size: 20px;
    }
    nav a{
        padding-left: 25px;
    }
    nav .nav-links {
        display: none; 
    }
    
    nav .menu-icon {
        display: block; 
    }
    .navbar{
        padding: 12px 0;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 40px;
    }
    .projects h3{
        font-size: 32px;
    }
    .magic-text{
        animation: background-pan 3s linear infinite;
        background: linear-gradient(
        to right,
        var(--blue),
        var(--green),
        var(--yellow),
        var(--blue)
        );
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
        cursor: default;
        font-size: 40px;
    }
    h1:hover > .magic-text {
        font-size: 40px;
    }
    section{
        margin: 250px 0;
    }
}
@media only screen and (max-width: 575px) {
    nav a{
        display: none;
    }
    h1{
        font-size: 30px;
    }
    .magic-text{
        font-size: 30px;
    }
    h1:hover > .magic-text {
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}
@media only screen and (max-width: 424px) {
    h1{
        font-size: 24px;
    }
    .magic-text{
        font-size: 24px;
    }
    h1:hover > .magic-text {
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
}
@media only screen and (max-width: 374px) {
    h1{
        font-size: 20px;
    }
    .magic-text{
        font-size: 20px;
    }
    h1:hover > .magic-text {
        font-size: 20px;
    }
    h2{
        font-size: 24px;
    }
    .projects h3{
        font-size: 24px;
    }
    p{
        font-size: 12px;
    }
}


 