body{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    color: white;
    background-color: rgb(70, 65, 61);
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(13, 110, 26);  
}
.navbar{
background-color: rgb(65, 53, 43);;
text-align: center;
position: sticky;
padding: 15px 0;
top: 0;
}

.navbar a{
    border-radius: 5px;
    padding: 10px 20px;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("./header.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 30px;
}
main{
    max-width: 1400px;
    margin:0 auto;
    padding: 20px;
}
section{
    margin: 400px 0;
}
h1{
    font-size: 80px;
}

h2{
    font-size: 60px;
}
.about h2{
    text-align: right;
}
.projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 200px 0;
    padding: 20px;
    text-align: left;
}

.projects:nth-child(odd){
    flex-direction: row-reverse;
    text-align: right;
}

.projects img{  
    flex: 1;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}


.projects h3{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.projects-text{
    display: block;
    padding: 20px;
    max-width: 600px;
}

footer{
    background-color: rgb(65, 53, 43);;;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}
@media only screen and (max-width: 400px) {
    .projects{  
        display:inline;
        align-items: center;
        justify-content: flex-start;
    }
}