:root {  
    --blue: rgb(6, 145, 187);
    --green: rgb(24, 185, 45);
    --yellow: rgb(238, 255, 0);
  }

body{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    color: white;
    background-color: rgb(32, 27, 22);
}

.navbar{
    background-color: rgb(65, 53, 43);
    position: fixed;
    width: 100%;
    padding: 24px 0;
    z-index: 1;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 80%;
    margin: auto;
}

nav{
    font-size: 24px;
    text-align: right;
}

nav a{
    padding-left: 40px;
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: 200% center;
    }
  }

h1 {
    color: white;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 800;

}


a{
    color: white;
    text-decoration: none;

    transition: .5s;
}
a:hover{
    color: rgb(13, 110, 26);  
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    background-size: cover;
    background-attachment: fixed;
}
main{
    margin:0 auto;
}
section{
    margin: 400px 0;
}
h2{
    font-size: 60px;
}
.about h2{
    text-align: right;
}
.projects{
    display: flex;
    align-items: center; 
    justify-content:space-between;
    margin: 200px 0;
    text-align: left;
}

.projects:nth-child(odd){
    flex-direction: row-reverse;
    text-align: right;
}

.projects img{  
    flex: 1;
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;

    transition: .5s;
}

.projects img:hover{
    transform: scale(110%);
}


.projects h3{
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.projects-text{
    display: block;
    max-width: 40%;
}

.projects-text p{
    color: rgb(97, 87, 78);  
}
footer{
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-size: 20px;
}

.magic-text {
    font-size: 48px;
    transition: 1s;
}


h1:hover > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--blue),
        var(--green),
        var(--yellow),
        var(--blue)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    cursor: default;
    font-size: 60px;

    transition: 1s;
}

@media only screen and (max-width: 576px) {
    .projects{  
        display:inline;
        align-items: center;
        justify-content: flex-start;
        margin: 300px 0;
    }
    .navbar a{
        font-size: 20px;
    }
}
@media only screen and (max-width: 430px) {
    .navbar a{
        font-size: 16px;
        font-weight: 600;
        padding: 10px 10px;
    }
}
@media only screen and (max-width: 376px) {
    .navbar a{
        padding: 10px 5px;
    }
}


 